/*
    * Les couleur utiliser pour la page
    * Les polices utiliser pour la page
    * La couleur de text utiliser pour la page
*/
:root {
  --roboto-font: "Roboto", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
  --navbar-color: rgb(226, 0, 26);
  --bg-color: rgb(255, 255, 255);
  --bg-sidebar: #f0f0f0;
  --bg-section: #2f2933;
  --text-color: #000; }

/*
    * Personnalisation du comportement de mes balises 
    * Avec une taille d'ecrire a la racine de 62.5% qui correspond a 10px ou 1rem
    * Decoration des liens et les liste tous a none
    * Les titres 10px = 1rem de marge en haut et en bas
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

html body {
  font-size: 1.6rem;
  font-family: var(--roboto-font);
  color: var(--text-color);
  background: var(--bg-color); }

h1,
h2,
h3,
h4,
h5 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

p {
  padding-top: 0.8rem; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

.btn {
  display: inline-block;
  background: var(--navbar-color);
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin: 1rem 0;
  padding: 0.3rem 0;
  font-size: 1.1rem; }
  .btn-radio {
    width: 180px; }
  .btn-resumer {
    margin-top: 0;
    margin-bottom: 0.3rem;
    padding: 0.3rem; }
  .btn-entretien {
    width: 70px; }
  .btn-decryptage {
    width: 80px;
    background: #fff;
    color: #000; }
  .btn-white {
    background: #fff;
    color: #000;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-top: 0; }

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 3.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .title-podcasts {
    color: #fff; }

.arrow-right {
  font-size: 1.2rem;
  color: var(--navbar-color);
  text-align: right;
  padding-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  cursor: pointer; }

.arrow-color {
  color: #fff; }

/*
    * Mise en forme de l'entete de la page
*/
.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); }
  .header-element {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    padding: 0 1rem;
    margin: auto; }
    .header-element .h-logo {
      display: inline-block;
      font-size: 2.8rem;
      color: #fff;
      cursor: pointer; }
      .header-element .h-logo h1 {
        background: var(--navbar-color); }
        .header-element .h-logo h1 .r {
          font-weight: 300; }
        .header-element .h-logo h1 .f {
          font-weight: 500; }
        .header-element .h-logo h1 .i {
          font-weight: 700; }
    .header-element .h-play {
      display: flex;
      flex-flow: row nowrap; }
      .header-element .h-play .baner {
        width: 1px;
        background: #000; }
      .header-element .h-play .play {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
        cursor: pointer; }
        .header-element .h-play .play svg {
          width: 50px;
          height: 50px;
          margin-right: 1rem; }
        .header-element .h-play .play h2 {
          font-size: 1.8rem; }
          .header-element .h-play .play h2 span {
            text-transform: uppercase;
            color: var(--navbar-color); }
    .header-element .menu svg {
      width: 30px;
      height: 30px;
      cursor: pointer; }
  .header .navbar {
    width: 100%;
    background: var(--navbar-color); }
    .header .navbar-content {
      width: 1000px;
      margin: auto; }
      .header .navbar-content ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.4rem; }
        .header .navbar-content ul .p-1 {
          padding-left: 1rem; }
        .header .navbar-content ul li {
          padding: 0.5rem 0; }
          .header .navbar-content ul li button {
            background: #fff;
            color: var(--navbar-color);
            margin-right: 1rem;
            padding: 0.5rem;
            border: none;
            border-radius: 10px;
            cursor: pointer; }
          .header .navbar-content ul li svg {
            width: 25px;
            height: 25px;
            margin-right: 2rem;
            margin-left: 1rem;
            cursor: pointer; }
          .header .navbar-content ul li a {
            color: #fff;
            margin-right: 2.5rem; }

/*
    * Le corps de page ou le body
*/
main {
  background: var(--bg-color); }

.a-la-une {
  width: 1000px;
  margin: auto;
  padding-top: 4.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch; }
  .a-la-une .block {
    flex-grow: 1;
    margin-right: 3rem;
    align-items: stretch; }
    .a-la-une .block .card {
      z-index: -1; }
      .a-la-une .block .card-big {
        margin-bottom: 3rem; }
        .a-la-une .block .card-big-content {
          height: 350px;
          position: relative; }
          .a-la-une .block .card-big-content img {
            position: absolute;
            width: 650px;
            height: 350px; }
          .a-la-une .block .card-big-content .card-big-text {
            position: absolute;
            bottom: 0;
            color: #fff;
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
            z-index: 1; }
      .a-la-une .block .card-small {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        column-gap: 3rem;
        row-gap: 2.5rem; }
        .a-la-une .block .card-small .car-small-content img {
          width: 310px;
          height: 160px; }
        .a-la-une .block .card-small .car-small-content .card-small-text h2 {
          font-size: 1.8rem;
          margin-top: 0.8rem; }
  .a-la-une .side-bar {
    width: 320px;
    flex: none;
    height: 550px;
    background: var(--bg-sidebar);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem; }
    .a-la-une .side-bar h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 2rem;
      letter-spacing: 0.1rem; }
    .a-la-une .side-bar ul li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem; }
      .a-la-une .side-bar ul li .time {
        width: 70px;
        flex: none; }
        .a-la-une .side-bar ul li .time p {
          width: 40px;
          text-align: center;
          font-size: 1.2rem;
          color: #fff;
          background: var(--navbar-color);
          padding: 0.2rem; }
      .a-la-une .side-bar ul li .detail {
        border-left: 2px solid var(--navbar-color);
        padding-left: 2rem; }
        .a-la-une .side-bar ul li .detail p {
          padding-top: 0.5rem;
          font-weight: 600; }
    .a-la-une .side-bar .actualite {
      font-size: 1.2rem;
      color: var(--navbar-color);
      text-align: end;
      margin-right: 2rem; }

.bg-can2022 {
  background: var(--bg-sidebar);
  margin-top: 6rem; }

.can2022 {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column; }
  .can2022-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 3rem; }

.can2022-content-item {
  display: flex;
  flex-direction: column; }
  .can2022-content-item .big-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    .can2022-content-item .big-card-text {
      display: flex;
      flex-direction: column; }
      .can2022-content-item .big-card-text h3 {
        font-size: 3rem;
        margin-top: 0;
        vertical-align: middle; }
        .can2022-content-item .big-card-text h3 svg {
          width: 28px;
          height: 28px; }
  .can2022-content-item .small-card {
    display: flex;
    flex-flow: row nowrap; }
    .can2022-content-item .small-card-img {
      width: 200px;
      height: 150px;
      flex: none; }
    .can2022-content-item .small-card-text {
      padding-left: 2rem; }
      .can2022-content-item .small-card-text h3 {
        margin-top: 0;
        font-size: 1.8rem; }

.big-card-img img {
  height: 250px; }

.small-card-img img {
  height: 110px; }

.autres {
  width: 1000px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 3rem;
  row-gap: 3rem; }
  .autres .card {
    display: flex;
    flex-direction: column; }
    .autres .card-img img {
      height: 200px; }

.politique {
  width: 1000px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 2rem;
  row-gap: 2rem; }
  .politique .card-horizontal {
    display: flex;
    flex-flow: row nowrap; }
    .politique .card-horizontal-img img {
      width: 150px;
      height: 100px; }
    .politique .card-horizontal-text {
      padding-left: 1rem; }
      .politique .card-horizontal-text h3 {
        margin-top: 0;
        font-size: 1.6rem; }

.podcasts {
  background: var(--bg-section);
  margin-top: 3rem; }
  .podcasts-content {
    width: 1000px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem; }
    .podcasts-content .big-card-text,
    .podcasts-content .small-card-text {
      color: #fff; }

.afrique {
  margin-bottom: 3rem; }

.afrique-content {
  width: 1000px;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column; }
  .afrique-content-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    column-gap: 3rem; }
    .afrique-content-card .card {
      display: flex;
      flex-direction: column; }
      .afrique-content-card .card-img img {
        height: 200px; }

.card-vertical {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 3rem;
  row-gap: 3rem; }
  .card-vertical .card-img {
    height: 200px; }

.archives {
  background: var(--bg-color); }
  .archives-content {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 3rem; }
    .archives-content p {
      margin-bottom: 2rem; }
    .archives-content .date-archives {
      display: flex;
      flex-flow: row wrap; }
      .archives-content .date-archives p {
        width: 70px;
        background: var(--bg-sidebar);
        font-size: 2rem;
        text-align: center;
        margin-right: 2.5rem;
        margin-bottom: 2rem;
        padding: 0.8rem; }
